{% extends "booking/email_base.html" %}

{% block title %}
Din reservasjonstid er utløpt!
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
Dine 3 timer med CML er nå over, og du kan gå til reservasjonssystemet for å sette opp en ny økt om du ønsker det. Dine lab-filer er vedlagt, slik at du kan fortsette der du var! Disse kan enkelt importeres i CML på nytt.
<br/><br/>
Takk for at du benyttet deg av vår felles CML installasjon!
{% endblock %}

{% block footer %}
Sendt fra Community Network CML booking!
{% endblock %}
