{% extends "booking/email_base.html" %}

{% block title %}
Bekreftelse på reservasjon!
{% endblock %}

{% block header %}
    <h6 class="h6  fw-600" style="padding-top: 0; padding-bottom: 0; font-weight: 600 !important; vertical-align: baseline; font-size: 16px; line-height: 19.2px; margin: 0;" align="left">Dato:</h6>
    <p style="line-height: 24px; font-size: 16px; width: 100%; margin: 0;" align="left">{{ booking_date }}</p>
    <table class="s-2 w-full" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;" width="100%">
      <tbody>
        <tr>
          <td style="line-height: 8px; font-size: 8px; width: 100%; height: 8px; margin: 0;" align="left" width="100%" height="8">
            &#160;
          </td>
        </tr>
      </tbody>
    </table>
    <h6 class="h6  fw-600" style="padding-top: 0; padding-bottom: 0; font-weight: 600 !important; vertical-align: baseline; font-size: 16px; line-height: 19.2px; margin: 0;" align="left">Tidspunkt:</h6>
    <p style="line-height: 24px; font-size: 16px; width: 100%; margin: 0;" align="left">{{ timeslot_from }}:00 - {{ timeslot_to }}:00</p>
    <p>Klikk her for å kansellere:</p>
    <table class="btn btn-primary p-3 m-5 fw-700" role="presentation" border="0" cellpadding="0" cellspacing="0" style="border-radius: 6px; border-collapse: separate !important; font-weight: 700 !important;">
      <tbody>
        <tr>
          <td style="line-height: 24px; font-size: 16px; border-radius: 6px; font-weight: 700 !important; margin: 0;" align="center" bgcolor="#0d6efd">
            <a href="{{ booking_url }}cancel/{{ cancelcode }}/" style="color: #ffffff; font-size: 16px; font-family: Helvetica, Arial, sans-serif; text-decoration: none; border-radius: 6px; line-height: 20px; display: block; font-weight: 700 !important; white-space: nowrap; background-color: #dc3545; padding: 12px; border: 1px solid #dc3545;">Kanseller reservasjon</a>
          </td>
        </tr>
      </tbody>
    </table>
{% endblock %}

{% block content %}
Denne e-posten er en bekreftelse på din reservasjon. Når din reservasjonsperiode starter, vil du få en egen e-post med påloggingsinformasjon.
{% endblock %}

{% block footer %}
Sendt fra Community Network CML booking!
{% endblock %}
