{% extends "booking/email_base.html" %}

{% block title %}
Din reservasjonstid er utløpt!
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
Dine 3 timer med CML er over for denne gang. <br/><br/>Om du skulle ønske mer tid, kan du gå til reservasjonssystemet for å sette opp en ny økt når det skulle passe deg. Dine lab-filer er vedlagt i denne eposten, slik at du enkelt kan fortsette der du var! Disse kan med få klikk importeres inn i CML neste gang.
<br/><br/>
Takk for at du benyttet deg av vår felles CML installasjon! Vi tar mer enn gjerne i mot tilbakemeldinger på dette systemet.
{% endblock %}

{% block footer %}
Sendt fra Community Network CML booking!
{% endblock %}
