{% extends "booking/base.html" %}

{% block content %}
<div class="row">
{% for dayid, data in calendardata.items %}
  <div class="col">
    <h3 class="pb-3 pt-5 text-nowrap">{{ data.dayname }} {{ data.daydate }}</h3>
    {% for time, status in data.bookingdata.items %}
        {% if status == 'invalid' %}
        <button type="button" class="btn btn-secondary btn-lg btn-block" disabled>{{ time|stringformat:"02d" }}:00 - {{ time|add:"3"|stringformat:"02d" }}:00</button>
        {% elif status == 'booked' %}
        <button type="button" class="btn btn-danger btn-lg btn-block" disabled>{{ time|stringformat:"02d" }}:00 - {{ time|add:"3"|stringformat:"02d" }}:00</button>
        {% else %}
        <a role="button" class="btn btn-success btn-lg btn-block" href="/booking/{{ data.dayid }}/{{ time }}/">{{ time|stringformat:"02d" }}:00 - {{ time|add:"3"|stringformat:"02d" }}:00</a>
        {% endif %}
    {% endfor %}
  </div>  
{% endfor %}
</div>
{% endblock %}